.did-1 {
    background-color: #f9f871;
    color: green;
}
.did-2 {
    background-color: #3a52bd;
    color: white;
}
.did-3 {
    background-color: #ff8066;
}
.did-4 {
    background-color: #fbeaff;
}
.did-5 {
    background-color: #ffc75f;
}
.did-6 {
    background-color: #ff9671;
}
.did-7 {
    background-color: #1b4f72;
    color: white;
}
.did-8 {
    background-color: #d5cabd;
}
.did-9 {
    background-color: #845ec2;
    color: white;
}
.did-10 {
    background-color: #66095d;
    color: white;
}